unitac_env/*
spot_description/*
franka_description/*
*.npy
data/*utils/vis/*
preprocessed_data*/*
gouger_logs/*
scripts/__pycache__/*
scripts/lightning_logs_old/*
scripts/spot_description/__pycache__/*